<ng-container *ngIf="islogged; then loged; else loggedOut"></ng-container>
<ng-template #loged>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <i class="fa fa-globe text warning"></i>
            <span class="text-warning">Cres</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor1" aria-controls="navbarColor1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/notes">Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/feedback">Feedback</a>
                </li>
                <li class="nav-item">
                    <span (click)="clickLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                </li>
            </ul>
        </div>
    </nav>
</ng-template>
<ng-template #loggedOut>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <i class="fa fa-globe text warning"></i>
            <span class="text-warning">Cres</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor1" aria-controls="navbarColor1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Sign in</a>
                </li>
            </ul>
        </div>
    </nav>
</ng-template>